*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 1000px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(img/front.jpg);
    background-size: cover;
    padding: 4px;
    height: 110px;
    position: sticky;
    top:0;
    left:0;
}
.header-left{
    padding: 30px;
    order: 2;
    position: relative;
}
.header-left h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellow;
    font-size: bold;
    font-size: 45px;
}
.navbar-right{
    display: flex;
    justify-content: space-around;
    width: 30%;
    order: 3;
}
.navbar-right li{
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(243, 243, 16);
}
.navbar-right a{
    padding: 4px;
    text-decoration: none;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.navbar-right a:hover{
    color: red;
    transition: .3s;
}
.navbar-left{
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    padding: 5px;
    margin: 10px;
    border-radius: 30px;
}
.navbar-left:hover{
    transform: scaleX(1.1);
    transition: 1s;
}
.navbar-left a{
   margin: 10px;
}
.navbar-left p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}
.inoicain-p{
    color: red;
}
.mart-p{
    color:green;
}
.section-1{
    width:900px;
    margin:100px auto;
    display: flex;
}
.section-1 img{
    border-radius: 10px;
    width:600px;
    height: 400px;
}
.konten-1{
    margin: 15px 30px;
    align-self: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.belanja-p{
    margin: 15px;
}
.button-info{
    margin-top: 20px;
  
}
.button-info a{
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.button-info a:hover{
    color:white;
    transition: .3s;
    background-color: rgb(37, 161, 37);
}
.section-2{
    width: 900px;
    display: flex;
    margin: 70px auto;
    border-radius:15px;
    padding: 50px;
    box-sizing: border-box;
    background-size: cover;
}
.section-2 img{
    border-radius: 10px;
    width:  400px;
    height: 400px;
    order: 2;
}
.promo-p{
    padding:10px;
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.konten-2{
    order: 1;
    display: flex;
    align-items: center;
    margin: auto 50px;
    flex-wrap: wrap;
}
.btn-promo{
    margin: 15px 40px;
    background-color: rgb(201, 37, 37); 
    padding:10px 20px;
    text-align: center;
    border-radius: 10px;
}
.btn-promo a{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn-promo:hover{
    background-color: rgb(37, 161, 37);
    transition: .3s;
}
.header-produk{
    margin-top:150px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.header-produk img{
    width: 500px;
    height: 500px;
}
.section-3{
    width: 900px;
    margin: 150px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: space-around;
}

.produk-1{
    order: 2;    
}
.produk-2{
    order: 1; 
}
.produk-3{
    order: 3;
}
.produk-4{
 order: 4;
}
.produk-5{
    order: 5;
}
.produk-6{
    order: 6;
}
.bought{
    margin: 5px;
    border-radius: 10px;
    background-color: red;
}
.bought a{
    text-decoration: none;
    color: white;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.name{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bought:hover{
    background-color: green;
}